{% extends "base.html.j2" %}
{% block content %}
{% set g = content.guides.get(page.guide.slug, {}) %}
<article class="cs-guide-article">
  <h1>{{ g.title }}</h1>
  {% if page.city %}<p class="cs-guide-locale">{{ page.city.name }}, {{ page.city.SS }}</p>{% endif %}
  <div class="cs-guide-body">{{ g.body_html }}</div>
  <a class="cs-btn cs-btn-primary" href="tel:{{ site.identity.tel }}">Get Help Now</a>
</article>
{% endblock %}
